.kanban {
    margin-top: 40px;


    &__title {
        margin-bottom: 30px;
        color: white;
    }

    &__btn {
        padding: 10px 24px;
        background: black;
        border: 1px solid black;
        border-radius: 8px;
        color: #fff;
        transition: .4s;

        &:hover {
            color: black;
            background: white;
        }
    }

    &__header__form__info {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    &__header__form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        background-color: rgb(145, 164, 241);
        padding: 40px;
        width: 800px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        display: none;
        color: white;

        input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            outline: none;
            border: 1px solid gray;
        }

        button {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            outline: none;
            border: 1px solid black;
            background-color: black;
            color: white;
            transition: 0.6s;
        }

        button:hover {
            transform: scale(0.97);
        }

        &__title {
            color: white;
            text-align: center;
            padding-bottom: 10px;
        }
    }

    .show__add {
        display: block;
    }

    &__header__close {
        position: absolute;
        top: 10px;
        right: 20px;
        color: red;
        cursor: pointer;
    }

    &__form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        padding: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 600px;
        border-radius: 10px;
        display: none;
        gap: 15px;
        color: white;
        z-index: 111;

        input {
            width: 100%;
            padding: 10px;
            outline: none;
            border: none;
            box-shadow: inset 1px 1px 10px #aaa1;
            border-radius: 5px;
        }

        &__text {
            font-size: 24px;
            color: white;
            padding-top: 10px;
        }

        button {
            width: 100%;
            padding: 10px;
            outline: none;
            border: 2px solid transparent;
            background-color: blue;
            color: white;
            box-shadow: inset 1px 1px 10px #aaa1;
            border-radius: 5px;
            font-weight: 700;
            transition: 0.5s;
        }

        button:hover {
            border: 2px solid blue;
            background-color: white;
            color: blue;
            transform: scale(0.98);
        }

        &__close {
            position: absolute;
            top: 10px;
            right: 20px;
            background-color: transparent;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            h1 {
                color: red;
            }
        }
    }

    &__form.show {
        display: flex;
    }

    &__wrapper {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 12px;
        align-items: flex-start;
    }

    &__block {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        max-height: 600px;
        overflow: auto;

        &__empty {
            font-size: 20px;
            text-align: center;
            padding-top: 50px;
        }

        &__delete {
            padding: 6px 30px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            background-color: blue;
            color: white;
            border: none;
            border-radius: 10px;
            margin-top: 50px;
        }
    }

    &__box {
        min-height: 300px;
        border-radius: 12px 12px 0 0;
        overflow: hidden;
        background: #f1f1f1;
        display: flex;
        flex-direction: column;

        &:nth-child(1) {
            border-left: 4px solid #5559d6;

            .kanban__heading {
                background: #5559d6;
            }
        }

        &:nth-child(2) {
            border-left: 4px solid #f1ae53;

            .kanban__heading {
                background: #f1ae53;
            }
        }

        &:nth-child(3) {
            border-left: 4px solid #d04f61;

            .kanban__heading {
                background: #d04f61;
            }
        }

        &:nth-child(4) {
            border-left: 4px solid #5dc47d;

            .kanban__heading {
                background: #5dc47d;
            }
        }
    }

    &__heading {
        padding: 10px;
        color: #fff;
        text-align: center;
    }

    &__item {
        position: relative;
        min-height: 100px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 5px #0001;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        select {
            padding: 3px;
            border: 1px solid #ddd;
            border-radius: 4px;
            outline: none;
        }
    }

    &__delete {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        background-color: transparent;
        font-size: 20px;
        color: red;
    }

    &__commit {
        font-size: 14px;
        color: #999;
        flex: 1;
    }

    &__status {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        span {
            font-size: 12px;
            color: #999;
        }
    }

    &__add_btn {
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        background: transparent;
    }

    .boshlash {
        width: 1200px;
        padding: 20px 0;
        color: white;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
}

@media (min-width: 1200px) {
    .kanban {
        &__block {
            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background: #ddd;
                border-radius: 8px;
            }
        }
    }
}